<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allen.test"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.CAMERA" >
    </uses-permission>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.DISABLE_STATUS_BAR" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/TestTheme" >
        <activity
            android:name="com.allen.test.Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
              
        <activity
            android:name="com.allen.test.FaceDetect"
            android:label="@string/app_name" >
        </activity>
        
        
 		<!--******************* Check  *****************************-->
        <activity
            android:name="com.allen.test.check.Check"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        
        <activity
            android:name="com.allen.test.check.LedCheck"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity> 
        <activity
            android:name="com.allen.test.check.LcdDot"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>         
        <activity
            android:name="com.allen.test.check.GSensor"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.allen.test.check.touch.TSP_Bound_Grid_Mode"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.allen.test.check.touch.TSP_Dot_Mode"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.allen.test.check.touch.TSP_Grid_Mode"
            android:label="@string/app_name" >
        </activity>
        
        
        <!--******************* Mathod  *****************************-->
        <activity
            android:name="com.allen.test.mathod.Method"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.allen.test.mathod.PrintArray"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="com.allen.test.mathod.MagicSquare"
            android:label="@string/app_name" >
        </activity>       
        
         <!--******************* Info  *****************************-->
        <activity
            android:name="com.allen.test.info.Info"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.allen.test.info.LanguageInfo"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.allen.test.info.PackageListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.allen.test.info.PackageInfoActivity"
            android:label="@string/app_name"
            android:theme="@style/cust_theme" >
        </activity>
        <activity
            android:name="com.allen.test.info.FrameWorkSourceActivity"
            android:label="@string/app_name"
            android:theme="@style/cust_theme" >
        </activity>
        <activity
            android:name="com.allen.test.info.PackageSourceActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.allen.test.info.DisplayInfo"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.allen.test.info.SystemInfo"
            android:label="@string/app_name" >
        </activity>        
        
        
        <!--******************* Tool  *****************************-->
        
        <activity
            android:name="com.allen.test.tool.Tool"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.allen.test.tool.selector.EasySelector"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name="com.allen.test.tool.platlogo.PlatLogoActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen">

        </activity>
        <activity
            android:name="com.allen.test.tool.platlogo.LLandActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:label="@string/lland"
            android:launchMode="singleInstance"
            android:process=":sweetsweetdesserts"
            android:screenOrientation="locked"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >

        </activity>        
         <activity
            android:name="com.allen.test.tool.VirtulEvent"
            android:label="@string/app_name" >
        </activity>
               
         <activity
            android:name="com.allen.test.tool.flashlight.FlashLight"
            android:theme="@style/TestTheme.NoTitle"
            android:label="@string/app_name" >
        </activity>    
        <service
            android:name="com.allen.test.tool.flashlight.FlashLightService"
            android:label="@string/app_name" >
        </service> 
                   
        <activity
            android:name="com.allen.test.tool.DPIvPX"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.allen.test.tool.SimCardHelper"
            android:label="@string/app_name" >
        </activity>         
        <activity
            android:name="com.allen.test.tool.GestureSettingActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.allen.test.tool.ScreenFilterSetting"
            android:label="@string/app_name" >
        </activity>                        
          <activity
            android:name="com.allen.test.tool.SecretCameraActicity"
            android:label="@string/app_name" >
        </activity> 
        <activity
            android:name="com.allen.test.tool.Compass"
            android:label="@string/app_name" >
        </activity>        
          
        <!--******************* provider  *****************************-->
         <provider android:name="com.allen.test.data.SelectorProvider" 
			android:authorities="com.allen.test.data.SelectorData"
			android:exported="true"></provider>
        
    </application>

</manifest>